<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Question</title>
    <style>
        label {
            display: block;
            margin-bottom: 10px;
        }

        textarea {
            width: 80%;
            height: 200px;
            resize: vertical;
        }
    </style>
</head>
<body>
<h2>Edit Question</h2>
<p><button><a href="/question/{{ question_id }}">Go back</a></button></p>

<form action="/question/{{ question_id }}/edit" method="POST" enctype="multipart/form-data">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value={{ title }} required>
    </div>
    <br>
    <div>
        <label for="message">Message:</label>
        <textarea id="message" name="message" required>{{ message }} </textarea>
    </div>
    <br>
    <div>
        <label for="text">Image:</label>
        <input type="file" id="image"  name="image">
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>
</body>
</html>
